
div.wrap {
    margin:0 auto;
}

div.sidebar {
	float: left;
	width: 46%;
	margin: 2%;
}

div.main {
	float: right;
	width: 46%;
	margin: 2%;
}


div.footer {
    clear:both;
    background-color: #ffddee;
}


.title {
	font-size: 1.5em;
	font-weight: bold;
}

.subtitle {
	font-size: 1.2em;
	font-weight: bold;
} 